body {
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	pointer-events: none;
	touch-action: none;
}

html,
body {
	overflow: hidden;
  height: 100%;
}

.image {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-size: 100vw 100vh;
	background-position: center;
}

#counter {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	margin: 15px;
	font-size: 1.1em;
}

#twitter {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	margin: 15px;
	font-size: 1.1em;
	pointer-events: all;
	touch-action: all;
	text-align: right;
}

@media (max-width: 1000px) {
	.image {
		background-size: 150vw 100vh;
	}
}

@media (max-width: 700px) {
	.image {
		background-size: 200vw 100vh;
	}
}

@media (max-width: 500px) {
	.image {
		background-size: 250vw 100vh;
	}
}

